<div class="question-box">
  <h4>{{question.content}}</h4>
  <h3>-{{question.writer}}</h3>
  <br>
  {{update-question question=question update="update"}}
  {{#link-to 'question' question.id}}<button>Add A Comment</button>{{/link-to}}
</div>
