.question-box{
  color: darkgreen;
  background-color: rgba(92, 184, 92, .5);
  border-style: solid;
  border-radius: 10px;
  margin-right: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  border-color: rgba(95, 184, 92, .5);
  border-width: thick;
  padding-bottom: 15px;
}
