.center {
  text-align: center;
  align-items: center;

}
.head-home{
  padding-top: 20px;
  text-decoration: none
}

a:link{
  text-decoration: none;
}

.nav{
  background-color: black;
  display: block;
  height: 50px;
}

.jumbotron{
  margin-bottom: none;
}

.question-tile{
  background-color: lightgray;
  border-radius: 25px;
  margin: 2px;
  padding: 10px;
}

.answer-tile{
  background-color: lightgray;
  border-radius: 25px;
  margin: 2px;
  padding: 10px;
}

.like{
  color: green;
}

.dislike{
  color: red;
}

.glyphicon{
  color: red;
}
