<header class="jumbotron center">
  <h1>Ask A Question!</h1>

  <div class='head-home center'><button class="btn btn-default">{{#link-to 'index'}}Home{{/link-to}}</button></div>
</header>

  {{outlet}}
