<div class="container">
  <header class="jumbotron center">
    <h1>Ask A Question!</h1>
    <div class='head-home'>{{#link-to 'index'}}Home{{/link-to}}</div>
  </header>
  <hr>
    {{outlet}}
</div>
