<header class="jumbotron center">
  <h1>Ask A Question!</h1>

  <div class='head-home center'>
    {{#link-to 'index'}}<button class="btn btn-default">Home</button>{{/link-to}}
  </div>
</header>

  {{outlet}}
