<h1 class="head-content">Welcome to Message Board</h1>

<ul>
  {{#each model.questions as |question|}}
    {{#link-to 'question' question.id}}{{question-tile question=question delete="delete" update="update"}}{{/link-to}}
  {{/each}}
</ul>

{{new-question save2="save3"}}
