<div class="container">
  <div class="row center">
      {{#each model.questions as |question|}}
        <div class="col-md-4 question-tile">
          {{question-tile question=question update="update"}}
        </div>
      {{/each}}
  </div>
  <br>
  <div class="center">
    {{new-question save2="save3"}}
  </div>
  <div class="center">
    <h2>Favorite Questions</h2>
    {{display-favorite question=model}}
  </div>
</div>
