<div class="page-content">
  <ul>
    {{#each model.questions as |question|}}
      {{question-tile question=question update="update"}}
    {{/each}}
  </ul>

  <div class="center">
    {{new-question save2="save3"}}
  </div>
</div>
