<div class="container page-content center">
  {{question-detail question=model destroyQuestion="destroyQuestion"}}
  <h2 class="question-page">Answers:</h2>
    {{#each model.answers as |answer|}}
    <div class="answer-tile col-md-4">
      <h5>{{answer.solution}}</h5>
      <h3>-{{answer.name}}</h3>
    </div>
    {{/each}}
    </div>
    <br>
    <div class="center">
  {{new-answer question=model saveAnswer="saveAnswer"}}
</div>
