{{question-detail question=model destroyQuestion="destroyQuestion"}}
<h2 class="question-page">Answers:</h2>
{{question.answer.name}}
<ul>
  {{#each model.answers as |answer|}}
    <li>{{question.answer.name}}</li>
  {{/each}}
</ul>
<br>
{{new-answer question=model saveAnswer="saveAnswer"}}
